<router-outlet></router-outlet>
<div class="photoBanner photoWrapper">
  <img class="mainPhoto" src="assets/ResizedPharmacyjpg.jpg"/>
</div>
<div class="aboutContent">
  <h1>FAQ's</h1>
  <h2>Why is MTM needed?</h2>
  <p>There are approximately 1.5 million preventable adverse events yearly due to medication mismanagement.
  </p>
  <h2>Who can benefit from MTM?</h2>
  <p>Anyone who is taking prescription medications, over-the-counter medications, vitamins, and supplements.
    Particularly those who are taking several medications, who have chronic health conditions, or those who require
    frequent monitoring.
  </p>
  <h2>What will be done at the first MTM visit?</h2>
  <p>
    We will start by gathering a comprehensive medication list for you and getting to know you.
    After gathering information, we will review medications to see if any changes need to be made and
    address any of your problems or concerns.
  </p>
  <h2>How will MTM sve me money?</h2>
  <p>
    Pharmacists will review your medications to ensure your medications are appropriate and the best
    option for you. The pharmacist can also look to see if there are cheaper alternatives or medication coupons.
  </p>
  <h2>Where is medication therapy management provided?</h2>
  <p>
    The pharmacist will set up a meeting with you, and this can be done in the convenience of your own home.
  </p>
  <h2>Will I have to change doctors or pharmacies?</h2>
  <p>
    No, you will be able to keep the same physicians and pharmacies. We will be able to contact your
    physician(s) and be a mediator for better communication between healthcare providers to ensure optimal
    patient care.
  </p>
</div>