<router-outlet></router-outlet>

<div class="main-container">
    <div>
        <div class="contactUsContent">
            <h1>Contact Us</h1>
            <h2>Call or email us at:</h2>
            <p><strong>Phone:</strong> 913-638-1701</p>
            <h2>Have questions?</h2>
            <p>Please email us below!</p>
            <p><strong>Email: </strong> <a href=mailto:rtpischke@hotmail.com>rebecca@mmrresolution.com</a></p>
        </div>
    </div>
    <footer class="footer">
        <p>Med Management Resolution &copy; {{thisYear}}</p>
    </footer>
</div>