<router-outlet></router-outlet>
<div class="photoBanner photoWrapper">
  <img class="mainPhoto" src="assets/ResizedPharmacyjpg.jpg" />
</div>
<div class="main-container">
  <div class="aboutContent">
    <h1>About Me</h1>
    <p>
      Hello, thank you for visiting Med Management Resolution. My name is Rebecca Pischke, Pharm
      D. I graduated from Creighton University in 2001. I am a licensed pharmacist, and I am certified
      in Medication Therapy Management.
    </p>
    <p>
      I started this company shortly after losing my mother. She fought a good fight against pulmonary
      arterial hypertension with right heart failure for about 7 months. During that time, I was working
      full time at a very busy pharmacy. With very little free time to evaluate my mom’s symptoms,
      reach out to doctors, and try to research the trial medications prescribed, I was overwhelmed
      and felt stressed.
    </p>
    <p>
      Many of mom’s friends called with much appreciated condolences, and continued the
      conversation with medication questions. Sometimes I would spend more than an hour
      discussing side effects of current medications, other medication options and general information
      regarding disease state management. Towards the end of the conversation, they would state
      that “I should start a pharmacy consulting business.” So I did.
    </p>
    <p>
      I am passionate about helping people find answers to their healthcare questions. I will work
      closely with you individually, so I can get to know your true goals in therapy. I will ensure that
      you have a clear understanding of your medication therapy and will act as your liaison for all of
      your providers, caregivers and pharmacies.
    </p>
    <p>
      I look forward to helping you untangle the web of your health care and assisting you in making
      your own informed decisions.
    </p>
  </div>
  <footer class="footer">
    <p>Med Management Resolution &copy; {{thisYear}}</p>
  </footer>
</div>