<nav  class="navbar sticky-top navbar-light blue-grey lighten-5">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand">
          <img src="assets/MedManTransparent.png" class="logo">
        </a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/home">
          Home <span class="sr-only">(current)</span>
        </a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
  </div>  
</nav>
<router-outlet></router-outlet>
