<router-outlet></router-outlet>
<div class="photoBanner photoWrapper">
  <img class="mainPhoto" src="assets/ResizedPharmacyjpg.jpg" />
</div>
<div class="main-container">
  <div class="aboutContent">
    <h1>What is MTM?</h1>
    <h2>What can we do that is of value to the patient/family/provider?</h2>
    <p>
      Medication Therapy Management (MTM) is a service that optimizes therapeutic outcomes for patients.
    </p>
    <p>
      We will work in collaboration with the patient, patient's family, patient's physician and other healthcare
      providers
      to identify and resolve medication-related problems.
    </p>
    <p>
      Our goal is to provide patients with knowledge of their medications and address problems or barriers to adherence
      so
      they can gain the best possible outcome from their prescription medications, over-the-counter medications,
      vitamins,
      and supplements. We hope to reduce inappropriate medication use and hospitilizations while improving daily living.
    </p>
    <p>
      MTM services allow patients to play an active role in their health and gives them a greater autonomy and
      understanding of their own health. Our partnership can increase patient compliance and provide the best treatment
      outcomes for each patient.
    </p>
  </div>

  <div class="ourMission">
    <h1>Statistics</h1>
    <ul>
      <li>1. "50% of patients walk out of appointments not understanding what they were told by their physician."</li>
      <li>2. "Patients actively participate in their own clinical decision making &lt;10% of the time."</li>
      <li>
        3. "Missed medication doses cause 125,000 deaths every year and account for 1-25% of hospital and
        nursing home admissions."
        <br>
        <a href="http://www.outcomesmtm.com/documents/2016MTMTrendsReport.pdf">2016 MTM Trends Report</a>
        <br>
      </li>
      <li>
        4. "Medical error is the third leading cause of death in the US."
        <br>
        <a href="http://www.bmj.com/content/353/bmj.i2139">thebmj</a>
        <br>
      </li>
      <li>
        5. "Medication errors cause at least one death every day and injure approximately 1.3 million
        people anually in the United States."
        <br>
        <a href="http://www.fda.gov/Drugs/DrugSafety/MedicationErrors/ucm080629.htm">FDA: Medication Error Reports</a>
      </li>
      <li>Employ competent, caring and well trained individuals who are responsive to the needs of our
        clients and their loved ones</li>
    </ul>
  </div>
  <footer class="footer">
    <p>Med Management Resolution &copy; {{thisYear}}</p>
  </footer>
</div>